.close {
    color: #0000006e;
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    left: 25px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }